.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.logo img {
  width: 120px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.text {
  font-size: 16px;
  margin-bottom: 20px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.inputField {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ffffff; /* Bordes blancos */
  border-radius: 5px;
  background-color: #fff; /* Fondo blanco */
  color: #000; /* Texto negro */
}

.inputField:focus {
  border-color: #ffffff; /* Mantener los bordes blancos al hacer foco */
  outline: none; /* Eliminar el contorno predeterminado */
}

.forgotPassword {
  text-align: right;
  font-size: 14px;
  color: #df1c24;
  text-decoration: none;
}

.loginButton, .createAccountButton {
  padding: 10px;
  font-size: 16px;
  background-color: #df1c24;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.createAccountButton {
  background-color: #df1c24;
}

.createAccountButton:hover, .loginButton:hover {
  opacity: 0.8;
}

.error {
  color: red;
  margin-bottom: 10px;
}
